* {
    margin: 0;


    font-family: Inter;
}

.main-container {
    height: 100vh;
    background-color: #000000;
}

.main-heading {
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    color: white;
}

.nav-table {
    font-size: 8px;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.nav-table-head {
    background-color: #a5a8ab2f;
    color: #057ece;
    text-shadow: 1px 1px black;
    table-layout: fixed;
    text-align: left;
}

th,
td {
    border: 1px solid rgb(43, 49, 54);
}

td {
    width: fit-content;
    height: 1px;
    color: white;
}

.wrapper-one {
    height: fit-content;
    padding: 0.2%;
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 49.2%;
    grid-gap: 0.2%;
    grid-auto-rows: 17.3vh;
}

.wrapper-one div:not(.prog-five) {
    height: 17vh;
    background-color: #a5a8ab2f;
}


.prog-five {
    height: 34.4vh;
    background-color: #a5a8ab2f;
}

.wrapper-two {
    height: 50.4vh;
    max-width: 100%;
    padding: 0.2%;
    margin-top: -0.35%;
    display: grid;
    grid-template-columns: 50.6% 49.2%;
    grid-gap: 0.2%;
}

.wrapper-two>div {
    height: 50.3vh;
}

.nest-one {
    display: grid;
    grid-template-columns: 49.8% 49.8%;
    grid-auto-rows: 30.2vh;
    grid-gap: 0.4%;

}

.tab-one,
.tab-two {
    height: 30vh;
    background-color: #a5a8ab2f;
}

.tab-three,
.tab-four {
    background-color: #a5a8ab2f;
    height: 20vh;

}

.nest-two {
    display: grid;
    grid-template-columns: repeat(49.2%, 2);
    grid-auto-rows: 25.2vh;
    grid-gap: 0.4%;
}

.graph-one,
.graph-two {
    background-color: #a5a8ab2f;
    height: 25vh;
}


.progtitle {
    display: flex;
}

.prog-two,
.prog-three,
.prog-four {
    display: flex;
    flex-direction: column;
}

.dash-stat {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.dash-stat-two {
    text-align: center;
    margin-top: auto;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.proghead {
    color: white;
    font-size: 10px;
    margin-top: 3px;
    margin-left: 15%;
    text-align: center;
    margin-bottom: 10px;
}

.dash-tab {
    font-size: 8px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.dash-head {
    color: white;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.col-one {
    width: 70%;
}

.dash-tab>tr {
    height: 2.2vh;
}